/* shared styles */
* {
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: border-box;
    /* overflow: hidden; */
}

/* body {
    max-width: 1140px;
} */

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.color-primary {
    color: #4E47FF;
}

.color-secondary {
    color: #252432;
}

/* hero section styles  */
.hero {
    max-width: 100%;
    background-image: url(/images/Hero-bg.png);
}

.banner {
    text-align: center;
}

nav {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-weight: 900;
}

#hero-logo {
    font-size: 34px;
    line-height: 1.5em;
}

nav ul li {
    text-decoration: none;
    list-style: none;
}

.btn-primary {
    cursor: pointer;
    color: #fff;
    background-color: #4E47FF;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.banner {
    width: 905px;
    padding: 150px 0;
}

.banner-title {
    padding-bottom: 37px;
}

.heading {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

.banner-title {
    line-height: auto;
    font-size: 65px;
}

/* action styles */

#action-section {
    padding: 115px 0;
}

.action {
    width: 1140px;
    height: 328px;
    padding: 115px 0;
    display: flex;
    gap: 220px;
    justify-content: space-between;
    align-items: center;
}

.action-text h3 {
    font-family: "Raleway", sans-serif;
    line-height: auto;
    font-size: 42px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 20px;
}

.action-text p {
    font-family: "Raleway", sans-serif;
    line-height: 30px;
    font-size: 24px;
    font-weight: 400;
    color: #252432;
    margin-bottom: 20px;
}

.action-image img {
    height: 328px;
    width: 400px;
}

/* user section styles */
#user-section {
    padding: 50px 80px;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
    margin-bottom: 135px;
    text-align: center;
}

.user-content {
    display: flex;
}

.user-title h3 {
    font-family: "Raleway", sans-serif;
    line-height: auto;
    font-size: 38px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 40px;
}

.user-content h4 {
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-size: 80px;
    font-weight: 700;
    line-height: auto;
}

.user-content p {
    font-family: "Inter", sans-serif;
    color: rgba(0, 0, 0, 50%);
    font-size: 20px;
    font-weight: 400;
    line-height: auto;
}

/* review section styles */

.review-section {
    margin-bottom: 130px;
}

.review-section h3 {
    font-size: 42px;
    line-height: auto;
    text-align: center;
    padding-bottom: 50px;
}

.review-content {
    display: flex;
    gap: 20px;
}

.review-card {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 24px;
    width: 360px;
}

.review-title {
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.review-description {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.review {
    padding: 24px 0;
}

.review-description {
    margin-top: 8px;
}

.reviewer-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.reviewer {
    display: flex;
    justify-content: left;
}

.reviewer-info {
    text-align: left;
}

#contact {
    display: flex;
    align-items: center;
    padding: 70px 0;
    gap: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.contact-form-heading {
    font-size: 97px;
    color: #000;
    line-height: 120%;
}

#contact-form form input {
    width: 497px;
    height: 70px;
    padding: 20px 32px;
}

#get-in-touch-btn {
    width: 497px;
    height: 62px;
    padding: 19px 101px;
}

/* footer section styles */

#footer {
    text-align: center;
    padding: 104px 0;
    background-color: #fff;
}

.footer-title {
    font-size: 100px;
}

.footer-subtitle {
    font-weight: 400;
    width: 531px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: rgba(137, 135, 161, 1);
}

.footer-nav ul {
    display: flex;
    gap: 48px;
    justify-content: space-evenly;
    padding: 0 10px;
}

.footer-nav ul li a {
    text-decoration: none;
    font-weight: 400;
    color: rgba(137, 135, 161, 1);
}